[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
pytest = "*"
mypy = "*"
typing_extensions = "*"
types-ujson = "*"
black = "*"

[packages]
blinker = "==1.4"
ujson = "*"
