[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
pytest = "*"
coverage = "*"
mypy = "*"
pylint = "*"
rope = "*"
autopep8 = "*"
flake8 = "*"
typing_extensions = "*"

[packages]
blinker = "==1.4"
